:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}
html, body {
  width: 100%;
  overflow-x: hidden;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
